    /*
    Flaticon icon font: Flaticon
    Creation date: 19/06/2019 13:08
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-care:before { content: "\f100"; }
.flaticon-heart:before { content: "\f101"; }
.flaticon-brain:before { content: "\f102"; }
.flaticon-clipboard:before { content: "\f103"; }
.flaticon-syringe:before { content: "\f104"; }
.flaticon-tooth:before { content: "\f105"; }
.flaticon-pregnant:before { content: "\f106"; }
.flaticon-wound:before { content: "\f107"; }
.flaticon-doctor:before { content: "\f108"; }
.flaticon-doctor-1:before { content: "\f109"; }
.flaticon-search:before { content: "\f10a"; }
.flaticon-bone:before { content: "\f10b"; }
.flaticon-skeleton:before { content: "\f10c"; }
.flaticon-bone-1:before { content: "\f10d"; }
.flaticon-aid:before { content: "\f10e"; }
.flaticon-stethoscope:before { content: "\f10f"; }
.flaticon-doctor-2:before { content: "\f110"; }
.flaticon-heart-1:before { content: "\f111"; }
.flaticon-phone:before { content: "\f112"; }
.flaticon-hand-wash:before { content: "\f113"; }
.flaticon-radiation:before { content: "\f114"; }
.flaticon-wallet:before { content: "\f115"; }
.flaticon-clock:before { content: "\f116"; }
.flaticon-placeholder:before { content: "\f117"; }
.flaticon-phone-call:before { content: "\f118"; }
.flaticon-envelope:before { content: "\f119"; }
    
    $font-Flaticon-care: "\f100";
    $font-Flaticon-heart: "\f101";
    $font-Flaticon-brain: "\f102";
    $font-Flaticon-clipboard: "\f103";
    $font-Flaticon-syringe: "\f104";
    $font-Flaticon-tooth: "\f105";
    $font-Flaticon-pregnant: "\f106";
    $font-Flaticon-wound: "\f107";
    $font-Flaticon-doctor: "\f108";
    $font-Flaticon-doctor-1: "\f109";
    $font-Flaticon-search: "\f10a";
    $font-Flaticon-bone: "\f10b";
    $font-Flaticon-skeleton: "\f10c";
    $font-Flaticon-bone-1: "\f10d";
    $font-Flaticon-aid: "\f10e";
    $font-Flaticon-stethoscope: "\f10f";
    $font-Flaticon-doctor-2: "\f110";
    $font-Flaticon-heart-1: "\f111";
    $font-Flaticon-phone: "\f112";
    $font-Flaticon-hand-wash: "\f113";
    $font-Flaticon-radiation: "\f114";
    $font-Flaticon-wallet: "\f115";
    $font-Flaticon-clock: "\f116";
    $font-Flaticon-placeholder: "\f117";
    $font-Flaticon-phone-call: "\f118";
    $font-Flaticon-envelope: "\f119";